<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Bookify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ebooks">E-books</a>
        </li>
      </ul>
      <form class="form-inline d-flex">
        <input class="form-control mr-sm-2" type="search" id="searchInput" placeholder="Search Book Name" aria-label="Search"
          [style.display]="showSearchInput ? 'block' : 'none'">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchBtn" (click)="toggleSearchInput()">
          <i class="fa fa-search"></i>
        </button>
      </form>
      <script>
        $("#searchBtn").click(function () {
          $("#searchInput").toggle();
        });
      </script>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isLoggedIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/dashboard">My Dashboard</a>
            <a class="dropdown-item" routerLink="/profile">My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>