<main>
    <!-- <h2>User Dashboard</h2>
    <div class="profile-info">
      <p>Name: </p>
      <p>Email: @gmail.com</p>
      <p>Phone: 1234567890</p>
      <p>Gender: </p>
      <p>Type: </p>
      <p>Address: somewhere</p>
      <p>Coins: </p>
    </div>
    <h3>Recent Orders</h3>
    <table>
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Date</th>
          <th>Book ID</th>
          <th>Total</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>Jan 1, 2023</td>
          <td>#123</td>
          <td>&#8377;50.00</td>
          <td>somewhere</td>
          <td>Shipped</td>
        </tr>
      </tbody>
    </table>
    <a href="#">View Order History</a>
    <a href="#">Edit Profile Information</a> -->

   <app-profile-card></app-profile-card>
   <app-profile-table></app-profile-table>

  </main>
