
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


</head>

<h1 align="center"><div style="background-color: black;">{{genre}} Ebooks </div> </h1>
<div id="select" align="right">
<label for="Genre" style="margin: 5%;margin-right: 0px;" class="genre">Genre</label>&nbsp;
<select name="genre" (click)="sort1(genre)" [(ngModel)]="genre"  class="genreOption">
<option  value="All" >All</option>
  <option  value="Romance" >Romance</option>
  <option value="Fiction">Fiction</option>
 
  <option value="Thriller">Thriller</option>
  <option value="History">Historical</option>
  <option value="Computer Science">Computer Science</option>
 
  <option value="Medicine">Medicine</option>
</select>
</div>

<div id="sort" align="left">
    <label for="Sort" style="margin: 5%;margin-right: 0px;" class="sort">Sort</label>&nbsp;
    <select name="type" (click)="sort2(genre,type)" [(ngModel)]="type" class="sortOption">
    <option value="Low">Low</option>
    <option value="High">High</option>
    <option Value="A-Z">A-Z</option>
    <option value="Z-A">Z-A</option>
    </select>
</div>
<br><br><br><br>

<div class="container">
<div class="row" >
  <div class="m-auto col-md-3" id="cards" *ngFor="let ebook of ebooks">
    <div class="card " id="bookcard"  >
      <img  style="height:120px" [src]="ebook.imagePath" class="card-img-top" alt="..." />
      <div class="card-body">
        <br>
        <h2 class="card-title" style="font-size: larger; text-align: center;">{{ebook.ebookName}}</h2>
        <p class="card-text">{{ebook.description}}</p>
        <a [href]="ebook.link" download target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right" title="Download Book">Read Ebook </a>
       <button id="price" class="btn btn-info"> ₹{{ebook.price}}</button>
      </div>
    </div>
  </div>
</div>
</div>






<!-- <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  
  
  </head>
  
   
  
    <h1 class="text-center my-4">Free Ebooks </h1>
    <br><br>
    <div class="row row-col-1 row-cols-md-3 m-auto my-4">
      <div class="m-auto col-md-3" id="cards">
        <div class="card h-100">
          <img src="https://miro.medium.com/max/1800/1*5eV1xmJs2-sJ4DdejfdnQA.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Javascript</h5>
            <p class="card-text">
              This Is A Book For Javascript. Beginner Friendly all Things need foe beginners there in pdf book mentioned
              please Download and gain knowledge about javascript
            </p>
            <a href="https://drive.google.com/file/d/1YOuhfAak-Z3Ra_NBX9_AMhFShuQsMMpI/view?usp=sharing" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book">Read Ebook</a>
          </div>
        </div>
      </div>
      <div class="m-auto col-md-3">
        <div class="card h-100">
          <img src="https://i.pinimg.com/originals/1f/ec/3e/1fec3ee0665075852c4665a01259682d.png" class="card-img-top"
            alt="..." />
          <div class="card-body">
            <h5 class="card-title">C Programming</h5>
            <p class="card-text">Advance C Programming Course From Pdf File Please Download This File From Here and You
              Have From Zero To Hero In C Programming</p>
            <a href="https://drive.google.com/file/d/1_NA-zRm6BXcI8Q45UJmQ0o1NGBQkFQF8/view?usp=sharing" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book">Read Ebook</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://www.vtc.com/files/images/courses/33797.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">C++ Course</h5>
            <p class="card-text">
              Advance C++ Course in Simple English Labguage Please Download A Pdf From Here and Gain Your Knowlwdge in C++
            </p>
            <a href="https://drive.google.com/file/d/11W13yROf4_qr7N0P9HbBeB-SKTdeQs6W/view?usp=sharing" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book">Read Ebook</a>
  
          </div>
        </div>
      </div>
  
    </div>
  
  
   
    <div class="row row-col-1 row-cols-md-3 m-auto my-4 mb-8">
      <div class="m-auto col-md-3">
        <div class="card h-100">
          <img src="https://miro.medium.com/max/840/1*RJMxLdTHqVBSijKmOO5MAg.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Python Programming</h5>
            <p class="card-text">
              Python Programming Course From Basic To Advance Level Please Download a Pdf File and Make You To A
              Professional Python Developer Or Freelancer.
            </p>
            <a href="https://drive.google.com/file/d/1BQsKJ7yCo93vCW9SoJibFOUGPYivdgQ_/view?usp=sharing" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book">Read Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="m-auto col-md-3">
        <div class="card h-100">
          <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1551437392/img/co_img_193_1504782213.png"
            class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Java Programming</h5>
            <p class="card-text">Java Programming Language From Basic To Advance Level. Learn Java Programming With Object
              Oriented Programming(OOP) From This Pdf Book.</p>
            <a href="https://drive.google.com/file/d/1I_D-UmWHdXkNKNODdlvfNxtzHyMkA8M8/view?usp=sharing" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book">Read Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://www.surat-training-course.com/ampimage/fluttercourseinsurat.webp" class="card-img-top"
            alt="..." />
          <div class="card-body">
            <h5 class="card-title">Flutter(DART)</h5>
            <p class="card-text">
              Learn Flutter From Basic To Advance Level. you can build android, desktop and ios application using flutter.
            </p>
            <a href="https://drive.google.com/file/d/1wY9Ky8cHO1D5WCnCr0ppFSyL2RiHYP0K/view?usp=sharing" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Read Ebook</a>
  
          </div>
        </div>
      </div>
  
    </div>
    <div class="row row-col-1 row-cols-md-3 m-auto my-4 mb-8">
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://www.bing.com/th?id=OIP.Wh_ge1Dhd-a7CHVPLLqK5AHaFj&w=135&h=102&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
           style="height: 150px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Good Guy Who Lost</h5>
            <p class="card-text">
              When Star Wars Episode IX is released in December 2019 it will be the twelfth film set in the Star Wars universe to reach the cinemas.
            </p>
            <a href="https://drive.google.com/file/d/1ptrHqAAdg3mL_M9ZwaXOYM1MngM9yX3G/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://th.bing.com/th?id=OIP.v99dl_wnyGx5DHQiqm_agQHaGf&w=266&h=234&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 150px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">God In Hammer</h5>
            <p class="card-text">
              For centuries, deep inside the bowels of the church, hidden from all except a few, a hauntingly evil cancer has spread like a murderous plague, destroying everything and everyone in its path. 
            </p>
            <a href="https://drive.google.com/file/d/11BameUcISQJ4jRLVwYJ5qA3eTfzTDhnl/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book">Read Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://www.bing.com/th?id=OIP.6jUSpCjgwnEEMOlwHVuI5QAAAA&w=147&h=185&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 160px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Murder At Zero Hours</h5>
            <p class="card-text"> 
              From the safety of America, William Grant watches as the Great War rages in Europe. .  From the safety of America, William Grant watches as the Great War rages in Europe. .
            </p>
            <a href="https://drive.google.com/file/d/1KL1svq5AYZMJxfvvn47lF81in2gewgJO/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book">Read Ebook</a>
  
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="row row-col-1 row-cols-md-3 m-auto my-4 mb-8">
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://th.bing.com/th?id=OIP.FEz7otoQlBYGQLry5IxtPAHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 160px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Society In Hell</h5>
            <p class="card-text">
              When Star Wars Episode IX is released in December 2019 it will be the twelfth film set in the Star Wars universe to reach the cinemas.
            </p>
            <a href="https://drive.google.com/file/d/1VM3aWqod_ak0pG7D9Xv7xwNvIaIbpJNH/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://th.bing.com/th?id=OIP.1xQ_NWdLQbK_04QzdBbVyAAAAA&w=166&h=241&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 160px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">The GillGamesh Quintet</h5>
            <p class="card-text">
              The Gilgamesh Quintet contains the five episodes of The Gilgamesh Project serialised in 2020 and 2021. The episodes are also available as separate books here on Obooko.
            </p>
            <a href="https://drive.google.com/file/d/1LKQ-S_2ceFqWVZTnibqF6gtF158mZqJA/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://th.bing.com/th?id=OIP.g6-4XvMZUCCk4m0ZSaGI-gHaMU&w=193&h=322&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 160px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">The Wheels Of Justices</h5>
            <p class="card-text">
              A small NSW country town in the rich farming area of the MIA of around one thousand citizens where very little causes a ripple.
            </p>
            <a href="https://drive.google.com/file/d/1GUqlvXg_8ddKMMqyxvyRvuc-ds7QnhX8/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Ebook</a>
  
          </div>
        </div>
      </div>
    </div>
    <div class="row row-col-1 row-cols-md-3 m-auto my-4 mb-8">
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://th.bing.com/th?id=OIP.DiHTe_z0s3K1XFI_9hyuEQHaK-&w=205&h=304&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 150px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Twisted Tales</h5>
            <p class="card-text">
              Kelly tilted the water bottle to her lips and sighed as the fluid ran down her parched throat.  The heat outside the cave was intense and perspiration saturated her clothes and trickled down her body.
            </p>
            <a href="https://drive.google.com/file/d/1ophh8Rp4N4AZuSxWz80IDf-ZHJ1yWwv0/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://th.bing.com/th?id=OIP.WXuplQq-FbvhiX05tQnOBwHaK-&w=205&h=304&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 160px;"  alt="..." />
          <div class="card-body">
            <h5 class="card-title">The Last Mission</h5>
            <p class="card-text">
              IN A PLAIN, UNREMARKABLE CONFERENCE room in a nondescript hotel on a main street in Amman, Jordan, sat the Leader of the Supreme Party. 
            </p>
            <a href="https://drive.google.com/file/d/1QFEXf4wsgRi2ciFbz7GuGUWy2pe0Fuzm/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Ebook</a>
  
          </div>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <div class="card h-100">
          <img src="https://th.bing.com/th?id=OIP.Jf5OfR6nAN0gHgJ_3VS3sAHaKq&w=208&h=299&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" class="card-img-top"
          style="height: 160px;" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Secrete Age Of Tomorrow</h5>
            <p class="card-text">
              When Star Wars Episode IX is released in December 2019 it will be the twelfth film set in the Star Wars universe to reach the cinemas.
            </p>
            <a href="https://drive.google.com/file/d/1jRmXCQ6AnvMJwBhRgeffWle73pRX-uwC/view?usp=share_link" download
              target="_blank" class="btn btn-info" data-toggle="tooltip" data-bs-placement="right"
              title="Download Book"> Ebook</a>
  
          </div>
        </div>
      </div>
  
    </div> -->
