body{
     background-color: rgb(249, 238, 236);
    /* background-image: url("https://media.istockphoto.com/id/611177968/photo/modern-interior-room-with-beautiful-furniture.jpg?s=612x612&w=0&k=20&c=gOqtglR3PCU6bqNuPUTkWjZH7fYhHT3A3Liv7ydx9sw="); */
}
.row{
    border-radius: 50%;
    margin-top: 5%;
    

}
h1{
   
    color: rgb(248, 61, 9);
    margin-bottom: -50px;

}
.card{
    background-color: rgb(251, 245, 240);
    border-radius: 3rem;
}
.card-body{
    margin-top: -35px;
}
#select{
    margin-top: 10px;
    margin-right: 6%;
    margin-bottom: -150px;
    font-size: medium;
}
#sort{
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: -120px;
    font-size: medium;
}
p{
    font-size: medium;
}

