<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase" style="text-align: center;"> Register</h3>
                 <form [formGroup]="registrationForm" (ngSubmit)="registerCustomer()">
  
                
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" formControlName="custName" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">Full name</label>
                      </div>
                    </div>
                    <div class="col-md-12 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" formControlName="email" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Email</label>
                      </div>
                    </div>
                   
                    
                  </div>
                 
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Gender: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                      formControlName="gender"
                        value="female" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="gender" id="maleGender" formControlName="gender"
                        value="male" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="gender" id="otherGender" formControlName="gender"
                        value="other" />
                      <label class="form-check-label" for="otherGender">Others</label>
                    </div>
  
                  </div>
  
                  <div class="row">
                    <div class="col-md-10 mb-4">
                      <div class="form-outline">
                        <select  
          #country
          name="country"
          id="country"
          (change)="onCountryChange($event)"
        >
          <option [value]="null">-- Select Your Country --</option>
          <option *ngFor="let country of countries" [value]="country | json">
         {{ country.name }}
          </option>
        </select>
                      </div>
                    </div>
                   
                  </div>
  
                  
  
                  
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <select 
          *ngIf="states"
          #state
          name="state"
          id="state"
          (change)="onStateChange($event)"
          class="select"
        >
          <option [value]="null">-- Select Your State --</option>
          <option *ngFor="let state of states" [value]="state | json">
            {{ state.name }}
          </option>
        </select>
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                      <select 
          *ngIf="cities"
          #city
          name="city"
          id="city"
          (change)="onCityChange($event)"
          class="select"
        >
          <option [value]="null">-- Select Your City --</option>
          <option *ngFor="let city of cities" [value]="city | json">
            {{ city.name }}form3Example90
          </option>
        </select>
                    </div>
                  </div>
  
                
  
                  <div class="form-outline mb-4">
                    <input type="text" id="pin" formControlName="pincode" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example90">Pincode</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="address" formControlName="address" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example90">Address</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example90" formControlName="phoneNumber" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example90">PhoneNumber</label>
                  </div>
  
  
                  <div class="form-outline mb-4">
                    <input type="text" id="pswd" name="password" formControlName="password" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example97">Password</label>
                  </div>
  
                  <div form-outline mb-4>
                    <select class="select" name="type" formControlName="type" id="type">
                      <option selected>Select Role</option>
                      <option value="Premium">Premium</option>
                      <option value="Regular" >Regular</option>
                    
                    </select>
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login"
                      class="link-danger">Login</a></p>
                    <button type="button" class="btn btn-light btn-lg" (click)="resetForm()">Reset all</button>
                    <button type="button" class="btn btn-warning btn-lg ms-2" (click)=" registerCustomer()">Register</button>
                  </div>
                </form>
                </div>
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--
  
  
  <h2 style="text-align:center; color: rgb(143, 15, 228);">Register</h2>
  
  <section class="h-100 h-custom gradient-custom-2">
  
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>
  
                  
  
                    <div class="row">
                      <div class=" mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="form3Examplev2" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplev2">Full Name</label>
                        </div>
  
                      </div>
                      <div class=" mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="form3Examplev3" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplev3">EmailId</label>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <select class="select">
                        <option value="1">Premium</option>
                        <option value="2">Regular</option>
                      
                      </select>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example3c">Gender</label>
                            <input type="radio" name="gender" value="male" checked> Male
                            <input type="radio" name="gender" value="female"> Female
                            <input type="radio" name="gender" value="other"> Other
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
  
                        <div class="form-outline">
                          <button type="button" class="btn btn-warning btn-lg">Reset all</button>
                        </div>
  
                      </div>
                    
                    </div>
  
                  </div>
                </div>
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>
  
                  
  
                    <div class="mb-4 pb-2 ">
                      <div class="form-outline form-white">
                        <select name="country">
                          <option value="">Select Country</option>
                          <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                      </select>
                       
                      </div>
                    </div>
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">State</label>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="form3Examplea4" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea4">City</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="form3Examplea5" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea5">Zip</label>
                        </div>
  
                      </div>
                    </div>
  
                  
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="form3Examplea7" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea7">Code +</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="form3Examplea8" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea8">Phone Number</label>
                        </div>
  
                      </div>
                    </div>
  
                  
  
                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label text-white" for="form2Example3">
                        I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                        site.
                      </label>
                    </div>
  
                    <button type="button" class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark">Register</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->
  
  
  
  <!--
  
  <h3 style="color: #d69b9b; text-align: center;">Bookify Book-Store</h3>
  <section class="vh-1000" style="background-color: #d69b9b; margin-top: 20px;" >
      <div class="container ">
        <div class="row d-flex justify-content-center align-items-center h-10">
          <div class="col-lg-10 col-xl-10">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6 col-xl-5 order-2 order-lg-1">
    
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
    
                    <form class="mx-1 mx-md-4">
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example1c" class="form-control" />
                          <label class="form-label" for="form3Example1c">Full Name</label>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="form3Example3c" class="form-control" />
                          <label class="form-label" for="form3Example3c">Enter Your Email</label>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                          
                            <label class="form-label" for="form3Example3c">Gender</label>
                            <input type="radio" name="gender" value="male" checked> Male
                            <input type="radio" name="gender" value="female"> Female
                            <input type="radio" name="gender" value="other"> Other
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="" id="form3Example3c" class="form-control" />
                            <label class="form-label" for="form3Example3c">PhoneNumber</label>
                          </div>
                        </div>
  
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <!--
                           <input type="" id="form3Example3c" class="form-control" />
                          
                            <label class="form-label" for="form3Example3c">Country</label>
                            <select name="country" id="form3Example3c" class="form-control" >
                              <option value="">Select Country</option>
                              <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                          </select>
                          </div>
                        </div>
                     
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="" id="form3Example3c" class="form-control" />
                            <label class="form-label" for="form3Example3c">State</label>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="" id="form3Example3c" class="form-control" />
                            <label class="form-label" for="form3Example3c">City</label>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="" id="form3Example3c" class="form-control" />
                            <label class="form-label" for="form3Example3c">Pincode</label>
                          </div>
                        </div>
  
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="form3Example4c" class="form-control" />
                          <label class="form-label" for="form3Example4c">Password</label>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="form3Example4cd" class="form-control" />
                          <label class="form-label" for="form3Example4cd">Confirm password</label>
                        </div>
                      </div>
    
                      <div class="form-check d-flex justify-content-center mb-5">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                        <label class="form-check-label" for="form2Example3">
                          I agree all statements in <a href="#!">Terms of service</a>
                        </label>
                      </div>
    
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-primary btn-lg">Register</button>
                      </div>
    
                    </form>
    
                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2" id="register-img">
    
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid" alt="Sample image">
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  -->