<section class="intro">
    <div class="bg-image h-100" style="background-color: #fff;">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 200px">
                    <table class="table table-striped mb-0">
                      <thead style="background-color: #002d72;">
                          <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Book Name</th>
                            <th>Address</th>
                            <th>Total</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of orders">
                            <td>{{order.ordId}}</td>
                            <td>{{order.orderDate}}</td>
                            <td>It starts with Us</td>
                            <td>{{order.address}}</td>
                            <td>&#8377;{{order.amount}}</td>
                            <td>{{order.status}} </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

